<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dothem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Dothem.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="TitleFont" serializeAs="String">
                <value>Snap ITC, 15.75pt, style=Bold</value>
            </setting>
            <setting name="NormalTextFont" serializeAs="String">
                <value>Lucida Bright, 11.25pt</value>
            </setting>
            <setting name="ButtonBackgroundColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
        </Dothem.Properties.Settings>
    </userSettings>
</configuration>
